<div class="list-group-item list-group-item-primary">
    <table>
        <tr>
            <td>Hospital Name:</td>
            <td>{{biodata.hospitalname}}</td>
        </tr>
        <tr>
            <td>Doctor Name:</td>
            <td>{{biodata.doctorname}}</td>
        </tr>
        <tr>
            <td>Delievery Type:</td>
            <td>{{biodata.delieverytype}}</td>
        </tr>
        <tr>
            <td>weight:</td>
            <td>{{biodata.weight}} kg</td>
        </tr>
        <tr>
            <td>Height:</td>
            <td>{{biodata.height}} inch</td>
        </tr>
        <tr>
            <td>Birth Condition:</td>
            <td>{{biodata.birthcondition}}</td>
        </tr>
        <tr>
            <td>Baby response:</td>
            <td>{{biodata.babyresponse}}</td>
        </tr>
        <tr>
            <td colspan="2">Attender Note:</td>            
        </tr>
        <tr>
            <td colspan="2">{{biodata.attendernote}}</td>
        </tr>
    </table>
  </div>