    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar" [ngClass]="{'active': hasMenuOpen}">
            <div class="sidebar-header">
                <h3>Bootstrap Sidebar</h3>
            </div>

            <ul class="list-unstyled components">                
                <li class="list-unstyled components">
                    <a  routerLink="/dashboard">Dashboard</a>                    
                </li>
                <li>
                    <a routerLink="/profile">Profile</a>
                </li>                
            </ul>

        </nav>

        <!-- Page Content  -->
        <div id="content">            
            <button class="btn-primary" (click)="sidebarCollapse()">{{menuTxt}} </button>
        </div>                
    </div>