<nav>    
    <a class="btn btn-outline-success" routerLink="/home">Home</a>  <span></span>
    <a class="btn btn-outline-success" routerLink="/about">About</a> <span></span>
    <a class="btn btn-outline-success" routerLink="/contact">Contact</a>  <span></span>      
<a class="btn btn-outline-success" routerLink="/dashboard">Dashboard</a>  <span></span>
<a class="btn btn-outline-success" routerLink="/profile">Profile</a> <span></span>
<a class="btn btn-outline-success" routerLink="/immunization">Immunization</a>  <span></span>
<a class="btn btn-outline-success" routerLink="/bioinfo">Bio info</a><span></span>
<a class="btn btn-outline-success" routerLink="/adimn">Admin</a><span></span>
</nav>