
    <div id="logreg-forms" [ngClass]="{'loginpage':isLogiPageNeeded}">
        <div class="alert alert-danger" role="alert" [style.display]="isInValidUser?'block':'none'">        
Invalid credentials
        </div>
        <form class="form-signin">
            <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Sign in</h1>        
            <input type="text" name="username" class="form-control" 
            placeholder="User name" [(ngModel)]="username" (keypress)="inputchange()"/>
            <br>
            <input type="password" name="password" class="form-control" 
            placeholder="Password" [(ngModel)]="password" (keypress)="inputchange()"/>
            <br>
            <button class="btn btn-success btn-block" type="submit" (click)="login()">
                <i class="fas fa-sign-in-alt"></i> Sign in</button>
            <!-- <a href="#" id="forgot_pswd">Forgot password?</a> -->
            <hr>
            <!-- <p>Don't have an account!</p>  -->
            <a routerLink="/registration">
                <button class="btn btn-warning btn-block">Sign up New Account
                </button>
                </a>
            </form>            
    </div>